@media(max-width:768px){

.hero-card{

    padding:50px 25px;

}

.monogram{

    font-size:42px;

    letter-spacing:8px;

}

.hero-card h1{

    font-size:36px;

}

.invite-text{

    font-size:20px;

}

.gold-btn{

    width:100%;

    text-align:center;

}

}
